


.about-us .grid-data-box { position:relative; }

.about-us .block7 .mid-grid-data-details {padding: 50px 30px;text-align: center;}


.about-us .block7 .grid-data-box.left-icon .grid-data-icon {left: 0;position: absolute;top: 0;}

.about-us .block7 .grid-data-box.left-icon .grid-data-details {padding-left: 90px;padding-right: 30px;}

.about-us .block7 .number-icon {border-bottom: 1px dashed;float: left;margin-bottom: 25px;width: 100%;}

.about-us .block7 .grid-data-box.right-icon .grid-data-icon {position: absolute;right: 0;top: 0;}

.about-us .block7 .grid-data-box.right-icon {padding-left: 30px;padding-right: 90px;text-align: right;}

.about-us .block7 .grid-signature img {float: left;margin-right: 10px;}

.about-us .block7 .grid-signature {padding: 20px 0;}

.about-us .block7 .author-names{text-align: right;}

.about-us .block7 {padding:0;}


.about-us .block7 .grid-data-box:hover .grid-data-icon {top: -3px;}




.about-us  .section-six  .gallery-overlay{height: 100%;position: absolute;text-align: center;top: 0;width: 100%;left: 0;transition: all 0.3s linear 0s;}

.about-us  .section-six .gallery-img {position: relative; margin: 0 ;overflow:hidden;}

.about-us .section-six .gallery-img img{ transition: all 0.3s linear 0s;}

.about-us  .section-six .overlay-link {left: 0;margin: 0 auto;position: absolute;right: 0;text-align: center;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%); }

.about-us   .section-six {float: left;padding:  0;width: 100%;}

.about-us .section-six .overlay-link h5{text-transform: capitalize;}

.about-us .section-six .overlay-link h4{text-transform: capitalize;}

.about-us .section-six .gallery-img:hover .overlay-link{opacity:1;}

.about-us .section-six .gallery-img .overlay-link{opacity:0;}

.about-us .section-six .gallery-img:hover img {transform: scale(1.3) rotate(7deg);}

.about-us .section-four {float: left;padding: 5% 0;width: 100%;}

.about-us .team {float: left;position: relative;width: 100%;overflow: hidden;}

.about-us .team-detail {bottom: 0;float: left;padding: 30px 15px;position: absolute;text-align: center;width: 100%;margin-bottom: -60px;transition: all 0.3s linear 0s;}

.about-us .team-detail li {display: inline-block;}

.about-us .team-detail a { display: inline-block;height: 36px;margin: 0 5px;width: 36px;line-height:36px;transition: all 0.3s linear 0s;}

.about-us .team-detail ul {display: inline-block;margin-top: 10px;transform: translateY(100%);transition: all 0.5s linear 0s;opacity:0;}

.about-us .team-detail li {display: inline-block;}

.about-us .team-detail a {display: inline-block;height: 36px;margin: 0 5px;width: 36px;line-height: 36px;transition: all 0.3s linear 0s;}

.about-us .team:hover .team-detail {margin-bottom: 0;}

.about-us .team:hover .team-detail ul{transform: translateY(0%);opacity:1;}

.about-us .team:hover .team-detail {margin-bottom: 0;}

.about-us .team  h4 {font-size: 16px;text-transform: uppercase;}

.about-us .team  h5 {font-size: 14px;text-transform: uppercase;}

.about-us .section-one {float: left;padding: 5%;position: relative;width: 100%;z-index: 1;margin: -70px 0px;}

.about-us .section-one::after {content: "";height: 100%;left: 0;opacity: 0.8;position: absolute;top: 0;width: 100%;z-index: -1;}

.about-us .section-one .left-section {/* margin-top: 100px; */padding-right: 5%;}

.about-us .section-one .title {margin-bottom: 40px;float:left;width:100%;}

.about-us .section-one .title span {font-size: 60px;padding: 10px 30px;text-transform: uppercase;}

.about-us .section-one .title-two {margin-left: 20px;}

.about-us .invisible-very-small {float: left;margin: 15px 0;width: 100%;}

.about-us .about-btn {display: inline-block;font-size: 12px;padding: 15px 30px;text-transform: uppercase;transition: all 0.3s linear 0s;}

.about-us .section-one .right-section {padding-left: 5%;margin-top: 70px;}

.about-us .section-one::after {content: "";height: 100%;left: 0;opacity: 0.8;position: absolute;top: 0;width: 100%;z-index: -1;}

.about-us .icon-section {float: left;padding: 0 10px;width: 100%;}

.about-us .icon-heading {float: left;padding-left: 70px;position: relative;width: 100%;}

.about-us .icon-section .icon {border-radius: 50%;height: 60px;left: 0;line-height: 60px;position: absolute;text-align: center;top: 0;transition: top 0.2s linear 0s;width: 60px;}


.about-us .icon-heading h3 {margin-bottom: 0;margin-top: 10px;text-transform: uppercase;}

.about-us .icon-desc {float: left;margin: 35px 0;}

.about-us .icon-desc p {margin-bottom: 0;}

.about-us  h3{font-size:22px;}

.about-us .icon-section:hover .icon {top: -4px;}

.about-us .main-title .title-sep {display: inline-block;height: 2px;margin-bottom: 10px;position: relative;width: 30px;}

.about-us .main-title {text-align: center;width: 100%;margin-bottom: 40px;}

.about-us .client-img img {display: inline-block;}

.about-us img { display: block;}

.about-us .client-img {  padding: 0 10px;  text-align: center;}

.about-us .section-four .grid__item.wide--one-quarter {padding: 0 10px;}

.about-us .client-section{float:left;width:100%;padding:5% 0;}

.about-us .section-one .grid__item.wide--one-half li:last-child .icon-desc { margin-bottom: 0;}

.about-us ul{padding:0;margin:0;list-style-type:none;}










/*** min-width 768px : to : max-width 1023px ***/

@media only screen and (min-width:768px) and (max-width:1023px) {

.about-us .grid__item.post-large--one-half.left-section {margin-right: 0; width: 100%;}

.about-us .grid__item.post-large--one-half.right-section {margin-right: 0;width: 100%;}

.about-us .section-one .right-section {margin-top: 5%; padding-left: 0;margin-bottom: 5%;}

.about-us .team{margin: 20px 0;}

.about-us .section-one .left-section{margin-top: 70px;}

.about-us .team-detail{padding: 30px 10px;}

}


/*** min-width 320px : to : max-width 767px ***/

@media only screen and (min-width:320px) and (max-width:767px) {

.about-us .block7 .grid-data-box{margin-top: 10px;}

.about-us .team{margin: 20px 0;}

.about-us .section-one .title span{font-size: 36px; float: left;padding: 5px 30px;margin: 5px;}

.about-us .section-one .title-two {margin-left: 0;}

.about-us .section-one .right-section { margin-top: 10%;padding-left: 0;margin-bottom: 10%;}

.about-us .section-one .grid__item.wide--one-half li:last-child .icon-desc{margin-bottom: 35px;}

.about-us .section-one .post-large--one-half{width:100%;margin-right:0;}

}



/*** min-width 1024px : to : max-width 1199px ***/

@media only screen and (min-width:1024px) and (max-width:1199px) {

.about-us .team-detail{padding: 30px 10px;}

.about-us .section-one .right-section { padding-left: 3%;}

.about-us .section-one .left-section{ padding-right: 3%;}

.about-us .section-one .title span{font-size: 40px;}

.about-us .section-one h3 {font-size: 20px;}

.about-us .section-one .title-two {margin-left: 15px;}

}

@media only screen and (min-width:800px) and (max-width:1280px) {

.about-us .section-one .title span {font-size: 50px;}

}


















