/* slideshow-homepage-------------------------------------------------------------------- */
.home-slideshow{position: relative;}

.home-slideshow .slick-active .slider-content {
    z-index: 9999;
    visibility: visible;
    opacity: 1;
}
.home-slideshow .slick-slide img:hover{opacity: 1;}
.home-slideshow .slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 50;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    outline: none;
}

.slick-arrow {height:60px;line-height:60px;}
.home-slideshow .slick-next {
right: 5%;
}
.home-slideshow .slick-prev {
    left: 5%;
}
.home-slideshow .slick-arrow {
    font-size: 0px;
    background: none;
    border: none;
}
.home-slideshow .slick-next:before {
    content: "\f105";
}
.home-slideshow .slick-arrow:before {
    font-family: FontAwesome;
    color: #fff;
}
.home-slideshow .slick-prev:before {
    content: "\f104";
}
.home-slideshow .slick-arrow:before {
    font-family: FontAwesome;
    font-size: 60px;
}

 .slick-slide img{    margin: auto;}
.slick-arrow:before, .slick-arrow:before{opacity: 0;}
.home-slideshow:hover .slick-arrow:before, .home-slideshow:hover  .slick-arrow:before{opacity: 1;}
