 /* Top block */
 
 .header-type-3 .top_bar {
     background: #f7f7f7;
 }
 
 .header-type-3 .top_bar li,
 .header-type-3 .top_bar span {
     color: #434343;
 }
 
 .header-type-3 .top_bar a {
     color: #434343;
 }
 
 .header-type-3 .top_bar a:hover,
 .header-type-3 .top_bar a:hover span {
     color: #fab915;
 }
 
 .header-type-3 .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount {
     background: #fab915;
     color: #434343;
 }
 
 .header-type-3 .header-bar__module.cart .baskettop a.icon-cart-arrow:hover #cartCount {
     background: #ffffff;
     color: #fab915;
 }
 /* Logo block */
 
 .header-type-3 .site-header__logo a {
     color: #434343;
 }
 
 .header-type-3 .site-header__logo a:hover {
     color: #fab915;
 }
 /* Menu  block */
 
 .header-type-3 .site-header__menubar,
 .mobile-nav-section {
     background: #202447;
 }
 
 .header-type-3 .menu-tool ul li {
     color: ;
 }
 
 .header-type-3 .menu-tool ul li a,
 .mobile-nav-section .mobile-nav-trigger {
     color: #ffffff;
 }
 
 .header-type-3 .menu-tool ul li a:hover,
 .header-type-3 .menu-tool .site-nav > li > a.current:hover {
     color: #fab915;
 }
 
 .header-type-3 .menu-tool .site-nav > li > a.current {
     color: #fab915;
 }
 
 .header-type-3 .site-nav-dropdown,
 #MobileNav,
 .mobile-nav__sublist {
     background: #ffffff;
 }
 
 .header-type-3 .site-nav-dropdown .inner > a {
     color: #434343;
 }
 
 .header-type-3 .site-nav-dropdown .inner > a:hover {
     color: #fab915;
 }
 
 .header-type-3 .site-nav-dropdown .inner .dropdown a,
 .header-type-3 .menu-tool .site-nav .site-nav-dropdown li a,
 #MobileNav a,
 .mobile-nav__sublist a,
 .site-nav .widget-featured-nav .owl-prev a,
 .site-nav .widget-featured-nav .owl-next a,
 .site-nav .widget-featured-product .product-title {
     color: #434343;
 }
 
 .header-type-3 .site-nav-dropdown .inner .dropdown a:hover,
 .header-type-3 .menu-tool .site-nav .site-nav-dropdown li a:hover,
 #MobileNav a:hover,
 .mobile-nav__sublist a:hover,
 #MobileNav a.current,
 .mobile-nav__sublist a.current,
 .site-nav .widget-featured-nav .owl-prev a:hover,
 .site-nav .widget-featured-nav .owl-next a:hover,
 .site-nav .widget-featured-product .product-title:hover {
     color: #fab915;
 }
 /* Dropdown block */
 
 .header-type-3 .menubar-section #Togglemodal i {
     color: #ffffff;
 }
 
 .header-type-3 .menubar-section #Togglemodal i:hover {
     color: #fab915;
 }
 
 .header-type-3 #slidedown-modal {
     background: #ffffff;
 }
 
 .header-type-3 #slidedown-modal ul li a {
     color: #434343;
 }
 
 .header-type-3 #slidedown-modal ul li a:hover {
     color: #fab915;
 }
 /* Search block */
 
 .header-type-3 .search-bar input[type="search"] {
     color: #434343;
 }
 
 .header-type-3 .header-search span {
     color: #ffffff;
 }
 
 .header-type-3 .header-search span:hover {
     color: #fab915;
 }
 
 .header-type-3 .search-bar__form,
 .header-type-3 #SearchDrawer {
     background: rgba(0, 0, 0, 0);
 }
 
 .header-type-3 .search-bar__form button,
 .header-type-3 .search-bar__icon-button {
     color: #434343;
 }
 
 .header-type-3 .search-bar__form button:hover,
 .header-type-3 .search-bar__icon-button:hover {
     color: #fab915;
 }
 
 .header-type-3 .search-bar input[type="search"]::-webkit-input-placeholder {
     /* Chrome/Opera/Safari */
     color: #434343;
 }
 
 .header-type-3 .search-bar input[type="search"]::-moz-placeholder {
     /* Firefox 19+ */
     color: #434343;
 }
 
 .header-type-3 .search-bar input[type="search"]:-ms-input-placeholder {
     /* IE 10+ */
     color: #434343;
 }
 
 .header-type-3 .search-bar input[type="search"]:-moz-placeholder {
     /* Firefox 18- */
     color: #434343;
 }
 /* Cart Summary block */
 
 .header-type-3 a.icon-cart-arrow i {
     color: #ffffff;
 }
 
 .header-type-3 a.icon-cart-arrow:hover i {
     color: #fab915;
 }
 
 .header-type-3 #slidedown-cart .actions,
 .header-type-3 #slidedown-cart {
     background: #ffffff;
 }
 
 .header-type-3 .header-bar__module p {
     color: #434343;
 }
 
 .header-type-3 .header-bar__module a {
     color: #434343;
 }
 
 .header-type-3 .header-bar__module a:hover {
     color: #fab915;
 }
 
 .header-type-3 .header-bar__module .btn {
     color: #ffffff;
     background: #fab915;
 }
 
 .header-type-3 .header-bar__module .btn:hover {
     color: #ffffff;
     background: #202447;
 }
 
 .header-type-3 #slidedown-cart .total .price,
 .header-type-3 #minicart_total,
 .header-type-3 #slidedown-cart ul li .cart-collateral {
     color: #434343;
 }
 
 .header-type-3 #slidedown-cart li {
     border-bottom: 1px solid #e4e4e4;
 }
 /* Currency block */
 
 .header-type-3 a.currency_wrapper.dropdown-toggle {
     color: #ffffff;
 }
 
 .header-type-3 .tbl-list>li.currency>.dropdown-toggle:hover {
     color: #fab915;
 }
 
 .header-type-3 .tbl-list>li.currency .flag-dropdown-menu {
     background: #fff;
 }
 
 .header-type-3 .flag-dropdown-menu li a span {
     color: #434343;
 }
 
 .header-type-3 .flag-dropdown-menu li a:hover span {
     color: #fab915;
 }
 /* Header borders */
 
 .header-type-3 .site-nav>li>a:before {
     background: #e4e4e4;
 }
 
 .header-type-3 .top_bar .top_bar_right li span,
 .header-type-3 .tbl-list>li.currency>.dropdown-toggle {
     border-right: 1px solid #e4e4e4;
 }
 
 .header-type-3 .top_bar ul li:last-child,
 .header-type-3 .top_bar .top_bar_right li:last-child span {
     border-right: none;
 }
 
 .home-slideshow .slick-arrow:before {
     color: #fff;
 }
 
 .fluid-width-video-wrapper {
     padding-top: 38.25%!important;
 }
 
 .home-product-grid-type-9 .nav-type9__items-1515665844410 a {
     color: ;
 }
 
 .home-product-grid-type-9 .nav-type9__items-1515665844410 a:hover {
     color: ;
 }
 
 .about-circle-type h2::before {
     background: ideo#ffffff;
 }
 
 .about-circle-type .icon-img-wrapper:hover h4 {
     color: #fab915;
 }
 
 .about-circle-type .icon-img-wrapper:hover img {
     border: 5px solid #ffffff!important;
 }
 
 .home-product-grid-type-9 .nav-type9__items-1515670483401 a {
     color: ;
 }
 
 .home-product-grid-type-9 .nav-type9__items-1515670483401 a:hover {
     color: ;
 }
 
 .video-content-block-1 .btn {
     background: #ffffff;
     border: none;
     color: #000000;
 }
 
 .video-content-block-1 .btn:hover,
 .dt-sc-button:hover {
     color: #fff;
 }
 
 .video-content-block-1 .btn:before {
     background: #fab915;
 }
 
 .video-content-block-1 .btn:hover:before,
 .video-content-block-1 .btn:active:before,
 .video-content-block-1 .btn:focus:before {
     background: #fab915;
 }
 
 .blog-post-type-4 .article:hover h4 a {
     color: #fab915 !important;
 }
 
 .blog-post-type-4 .article:hover .home-blog-image .blog-btn .btn {
     color: #ffffff !important;
     background: #202447 !important;
 }
 
 .blog-post-type-4 .blogs-sub-title .comments-count {
     color: #434343;
 }
 
 .blog-post-type-4 .blog-description {
     background: #e3e3e3;
 }
 
 .blog-post-type-4 .author span {
     background: #202447;
     padding: 7px 20px;
 }
 
 .newsletter-section button.btn {
     font-weight: 700;
     color: #ffffff;
     background-color: #434343;
 }
 
 .newsletter-section button.btn:hover {
     color: #ffffff;
     background-color: #202447;
 }
 
 .newsletter-section button.btn:before {
     background-color: #202447;
 }
 
 .newsletter-section button.btn:hover:before {
     background-color: #202447;
 }
 
 .newsletter-section input::-webkit-input-placeholder {
     color: #000000;
 }
 
 .newsletter-section input:-moz-placeholder {
     color: #000000;
 }
 
 .newsletter-section input::-moz-placeholder {
     color: #000000;
 }
 
 .newsletter-section input:-ms-input-placeholder {
     color: #000000;
 }
 
 .newsletter-section input {
     background: #fff;
     color: #000000;
 }
 
 .footer-model-6 .footer_newsletter button:hover {
     background: !important;
     color: !important;
 }
 
 .footer-model-6 .site-footer__links li a:hover {
     color: #fab915 !important;
 }
 
 .footer-model-6 .footer-bottom .footer-bottom__menu ul li a:hover {
     color: #fab915 !important;
 }
 
 .footer-model-6 .copyright a {
     color: #434343;
 }
 
 .footer-model-6 .copyright a:hover {
     color: #fab915;
 }
 
 .footer-model-6 .site-footer .social-icons li a:hover {
     color: #fab915 !important;
 }
 
 .footer-model-6 .footer_newsletter input::-webkit-input-placeholder {
     color: ;
 }
 
 .footer-model-6 .footer_newsletter input:-moz-placeholder {
     color: ;
 }
 
 .footer-model-6 .footer_newsletter input::-moz-placeholder {
     color: ;
 }
 
 .footer-model-6 .footer_newsletter input:-ms-input-placeholder {
     color: ;
 }
 
 .footer-model-6 .footer_newsletter input {
     color: ;
 }
 
 .bottom-products-suggest {
     background-color: #fff;
     border: 0;
     border-radius: 0;
     padding: 0;
     display: block;
     position: fixed;
     text-align: left;
     width: auto;
     min-width: 250px;
     left: 35px;
     bottom: 25px;
     z-index: 1000;
 }
 
 .bottom-products-suggest .product-short-suggest .product-thumb img {
     max-width: 50px;
 }
 
 .bottom-products-suggest .product-short-suggest {
     overflow: hidden;
     padding: 10px;
     background-color: #fff;
     border: 2px solid #efefef;
 }
 
 .bottom-products-suggest .product-short-suggest .product-thumb {
     float: right;
     margin-left: 10px;
 }
 
 .bottom-products-suggest .product-short-suggest .product-title {
     display: block;
     margin-bottom: 7px;
     font-weight: 500;
     font-size: 11px;
     line-height: 1.5;
     text-transform: uppercase;
 }
 
 .bottom-products-suggest .product-short-suggest .price del {
     color: #D0D0D0;
 }